<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navmenu(currentPage, isLoggedIn)" class="row pb-2 mt-3">
    <div class="col-12 nav-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded shadow">
            <div class="navbar-brand d-flex align-items-center">
                <div class="">
                    <a href="/">
                        <img src="/img/cloud-white.png" class="img-fluid" style="width: 50px;">
                    </a>
                </div>
                <div class="" style="padding-left: 10px;">
                    <a href="/">
                        <h1 class="mb-0">Brain to the Cloud</h1>
                    </a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:classappend="${currentPage == 'home'} ? 'active' : ''" href="/">Home</a></li>
                    <li class="nav-item" th:if="${isLoggedIn}"><a class="nav-link" th:classappend="${currentPage == 'game-analysis'} ? 'active' : ''" href="/games">Game Analysis</a></li>
                    <li class="nav-item" th:if="${isLoggedIn}"><a class="nav-link" th:classappend="${currentPage == 'live'} ? 'active' : ''" href="/live">Live Demo</a></li>
                    <li class="nav-item dropdown" th:if="${isLoggedIn}">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reports</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/reports/attention-meditation">Attention & Meditation Summary</a></li>
                            <li><a class="dropdown-item" href="/reports/time-moving">Time Moving Summary</a></li>
                            <li><a class="dropdown-item" href="#">Report #2</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Report #3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" th:if="${!isLoggedIn}"><a class="nav-link" th:classappend="${currentPage == 'auth'} ? 'active' : ''" href="/login/auth">Login</a></li>
                    <li class="nav-item" th:if="${isLoggedIn}"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>