<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scoretraveltable(summaryCollection, highlight, grouping, mapLookups, game)" class="mb-3 table-responsive-sm">
    <table class="table table-bordered table-hover">
        <thead class="bg-theme text-white border-2 border-white">
            <tr>
                <th style="width: 225px" th:if="${grouping == null}"></th>
                <th style="width: 225px" th:if="${grouping != null}" th:text="${grouping}"></th>
                <!--
                <th>Avg Attention</th>
                <th>Avg Meditation</th>
                -->
                <th>Total Games</th>
                <th>Avg Score</th>
                <th>Total Score Per Minute</th>
                <th>Avg Score Per Minute</th>
                <th>Total Distance Traveled</th>
                <th>Avg Pct Time Moving</th>
                <th>Avg Speed During Match</th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
        <tr th:each="record, s: ${summaryCollection.getGameSummaryDTOList()}">
            <!--/*@thymesVar id="record" type="codes.recursive.model.GameSummaryDTO"*/-->
            <!--/*@thymesVar id="mapLookups" type="java.util.HashMap"*/-->
            <th th:if="${grouping == null}" scope="row" class="bg-theme text-white"></th>
            <th th:if="${grouping != null} AND ${#strings.equals(grouping, 'Team')} OR ${#strings.equals(grouping, 'Operator')}"
                scope="row" class="bg-theme text-white"
                th:text="${#strings.capitalize(record.getGrouping())}"></th>
            <th th:if="${grouping != null} AND ${#strings.equals(grouping, 'Map')}"
                scope="row" class="bg-theme text-white"
                th:text="${summaryCollection.lookupMap(game, record.getGrouping())}"></th>
            <th th:if="${grouping != null} AND ${#strings.equals(grouping, 'Mode')}"
                scope="row" class="bg-theme text-white"
                th:text="${summaryCollection.lookupMode(game, record.getGrouping())}"></th>
            <!--
            <td th:text="${#numbers.formatDecimal(record.getAvgAttention(), 2, 2)} + '%'"
                th:classappend="${summaryCollection.getBigDecimalClass(record.getAvgAttention(), 'getAvgAttention', true, false)}"></td>
            <td th:text="${#numbers.formatDecimal(record.getAvgMeditation(), 2, 2)} + '%'"
                th:classappend="${summaryCollection.getBigDecimalClass(record.getAvgMeditation(), 'getAvgMeditation', true, false)}"></td>
            -->
            <td th:text="${record.getTotalGames()}"></td>
            <td th:text="${#numbers.formatDecimal(record.getAvgScore(), 0, 'COMMA', 0, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(record.getTotalScorePerMinute(), 0, 'COMMA', 2, 'POINT')}"
                th:classappend="${highlight ? summaryCollection.getBigDecimalClass(record.getTotalScorePerMinute(), 'getTotalScorePerMinute', true, false) : ''}">/td>
            <td th:text="${#numbers.formatDecimal(record.getAvgScorePerMinute(), 0, 'COMMA', 2, 'POINT')}"
                th:classappend="${highlight ? summaryCollection.getBigDecimalClass(record.getAvgScorePerMinute(), 'getAvgScorePerMinute', true, false) : ''}"></td>
            <td th:text="${#numbers.formatDecimal(record.getTotalDistanceTraveled(), 0, 'COMMA', 0, 'POINT')}">/td>
            <td th:text="${#numbers.formatDecimal(record.getAvgPctTimeMoving(), 1, 'COMMA', 2, 'POINT')} + '%'"
                th:classappend="${highlight ? summaryCollection.getBigDecimalClass(record.getAvgPctTimeMoving(), 'getAvgPctTimeMoving', true, true) : ''}"></td>
            <td th:text="${#numbers.formatDecimal(record.getAvgSpeedDuringMatch(), 1, 'COMMA', 2, 'POINT')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>