<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scoretraveltable(gameSummaryCollection, highlight, hasMap, mapLookups, game)" class="mb-3 table-responsive">
    <table class="table table-bordered">
        <thead class="bg-theme text-white border-2 border-white">
            <tr>
                <th th:if="${hasMap}">Map</th>
                <th>Total Games</th>
                <th>Avg Score</th>
                <th>Total Score Per Minute</th>
                <th>Avg Score Per Minute</th>
                <th>Total Distance Traveled</th>
                <th>Avg Pct Time Moving</th>
                <th>Avg Speed During Match</th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="gameSummaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
        <tr th:each="record, s: ${gameSummaryCollection.getGameSummaryDTOList()}">
            <!--/*@thymesVar id="record" type="codes.recursive.model.GameSummaryDTO"*/-->
            <!--/*@thymesVar id="mapLookups" type="java.util.HashMap"*/-->
            <th th:if="${hasMap}" scope="row" class="bg-theme text-white" th:text="${gameSummaryCollection.lookupMap(game, record.map)}"></th>
            <td th:text="${record.getTotalGames()}"></td>
            <td th:text="${#numbers.formatDecimal(record.getAvgScore(), 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(record.getTotalScorePerMinute(), 0, 'COMMA', 2, 'POINT')}" th:classappend="${highlight ? gameSummaryCollection.getTotalScorePerMinuteClass(record.getTotalScorePerMinute()) : ''}">/td>
            <td th:text="${#numbers.formatDecimal(record.getAvgScorePerMinute(), 0, 'COMMA', 2, 'POINT')}" th:classappend="${highlight ? gameSummaryCollection.getAvgScorePerMinuteClass(record.getAvgScorePerMinute()) : ''}"></td>
            <td th:text="${#numbers.formatDecimal(record.getTotalDistanceTraveled(), 0, 'COMMA', 2, 'POINT')}">/td>
            <td th:text="${#numbers.formatDecimal(record.getAvgPctTimeMoving(), 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(record.getAvgSpeedDuringMatch(), 0, 'COMMA', 2, 'POINT')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>