<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="tablechartmodal()" class="modal fade" id="tableChartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tableChartModalLbl" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tableChartModalLbl">Visualize Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas id="tableChart" class="border p-1 rounded shadow"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <script src="/scripts/chart/chart.min.js" </script>
        <script src="/scripts/chart/chartjs-plugin-annotation.min.js"></script>
        <script src="/scripts/moment/moment.js"></script>
        <script src="/scripts/chart/chartjs-adapter-moment.min.js"></script>
        <script src="/scripts/tablechart.js" type="module"></script>
    </div>
</body>
</html>