<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="winlosssummarytable(gameSummaryCollection, highlight, grouping, mapLookups, game)" class="mb-3 table-responsive-sm">
    <table class="table table-bordered table-hover table-hover">
        <thead class="bg-theme text-white border-2 border-white">
            <tr>
                <th style="width: 225px" th:if="${grouping == null}"></th>
                <th style="width: 225px" th:if="${grouping != null}" th:text="${grouping}"></th>
                <th>Total Games</th>
                <th>Total Wins</th>
                <th>Total Losses</th>
                <th>W/L Ratio</th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="gameSummaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
        <tr th:each="record, s: ${gameSummaryCollection.getGameSummaryDTOList()}">
            <!--/*@thymesVar id="record" type="codes.recursive.model.GameSummaryDTO"*/-->
            <!--/*@thymesVar id="mapLookups" type="java.util.HashMap"*/-->
            <th th:if="${grouping == null}" scope="row" class="bg-theme text-white"></th>
            <th th:if="${grouping != null && #strings.equals(grouping, 'Map')}" scope="row" class="bg-theme text-white" th:text="${gameSummaryCollection.lookupMap(game, record.getGrouping())}"></th>
            <th th:if="${grouping != null && #strings.equals(grouping, 'Mode')}" scope="row" class="bg-theme text-white" th:text="${gameSummaryCollection.lookupMode(game, record.getGrouping())}"></th>
            <td th:text="${record.getTotalGames()}"></td>
            <td th:text="${record.getTotalWins()}">/td>
            <td th:text="${record.getTotalLosses()}"></td>
            <td th:text="${#numbers.formatDecimal(record.getWlRatio(), 1, 'COMMA', 2, 'POINT')}" th:classappend="${highlight ? gameSummaryCollection.getWlClass(record.getWlRatio()) : ''}">/td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>