<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: About</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/header :: header()"></div>
    <div th:replace="fragments/nav :: navmenu(${currentView})"></div>

    <div class="row ps-3 pe-3">
        <div class="col-12">
            <h1>About This Project...</h1>
            <p>The goal of this project is to determine the relationship between cognitive function and video game performance. In other words, when I'm focused and attentive, do I play better? Or, when I'm distracted, do I play worse? Or, is there no connection at all? Can I even test this? Who knows! Let's find out!</p>

            <h2>Questions</h2>
            <ul>
                <li>Can video game performance be improved when the player is focused and concentrating?</li>
                <li>Is performance negatively impacted when the player is distracted?</li>
                <li>Is there a direct measurable relationship between superior performance and high levels of attention and meditation?</li>
            </ul>

            <h2>Goals & Constraints</h2>
            <ul>
                <li>Can brain activity be captured (at home) in an accurate, yet cost-effective manner?</li>
                <li>Can video game performance be quantified?</li>
                <li>Can a relationship be established between cognitive measures and game performance?</li>
                <li>
                    Can outside factors be excluded?
                    <ul>
                        <li>Server/network latency</li>
                        <li>"Skill based match making"</li>
                        <li>Other unknowns</li>
                    </ul>
                </li>
            </ul>
            
            <h2>Hypothesis</h2>
            <p>The more focused the player is, the better they will perform at a multiplayer "first-person shooter" (Call of Duty: Vanguard). Conversely, when distracted, the statistics will show that the performance will be negatively impacted.</p>
            
            <h2>Detailed Approach</h2>
            <ul>
                <li>Using a "mind flex" toy, brain activity will be captured by "hacking" the serial output of the device to collect the EEG related information from the toy.</li>
                <li>Brain activity will be uploaded to the cloud</li>
                <li>Separately, video game stats will be captured via a scheduled task in a cloud based application</li>
                <li>Brain and video game data will be combined and analyzed</li>
            </ul>

            <h2>Testing Steps</h2>
            <ul>
                <li>
                    Hack "Mind Flex" toy by inserting ESP/Arduino to read serial data
                    <ul>
                        <li>
                            Produce brain data to MQTT endpoint (`bttc/brain`)
                            <ul>
                                <li>Capture "distractions" via button</li>
                            </ul>
                        </li>
                        <li>Produce brain data to "live demo" endpoint (to avoid persisting conference volunteer data) (`bttc/demo`)</li>
                    </ul>
                </li>
    
                <li>
                    Create serverless function to obtain video game stats
                    <ul>
                        <li>Use third-party API to retrieve match info</li>
                    </ul>
                </li>
    
                <li>
                    Create server side application
                    <ul>
                        <li>
                            Consume MQTT endpoints
                            <ul>
                                <li>Persist brain data to cloud DB</li>
                                <li>Persist distractions to cloud DB</li>
                            </ul>
                        </li>
                        <li>
                            Schedule task to invoke serverless function
                            <ul>
                                <li>Persist match information to cloud DB</li>
                            </ul>
                        </li>
                        <li>
                            Create interface to demo "live" brain data
                            <ul>
                                <li>Chart metrics in real time</li>
                            </ul>
                        </li>
                        <li>Create interface to compare persisted brain data with persisted video game stats</li>
                    </ul>
                </li>
    
                <li>
                    Collect data
                    <ul>
                        <li>
                            Play game while wearing "mind flex"
                            <ul>
                                <li>Play without distractions</li>
                                <li>Play with distractions</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2>Result overview (analyze)</h2>
            <h2>Result details</h2>
            <h2>Modify hypothesis (optional - back to step 1)</h2>
            <h2>Summary</h2>
            
        </div>
    </div>

</section>
</body>
</html>