<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Game Analysis</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/header :: header()"></div>
    <div th:replace="fragments/nav :: navmenu(${currentView})"></div>

    <div class="row">
        <div class="col-12">
            <h1>About This Project...</h1>
            <p>The purpose of this project...</p>
        </div>
    </div>

</section>
</body>
</html>