<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: About</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/header :: header()"></div>
    <div th:replace="fragments/nav :: navmenu(${currentView})"></div>

    <div class="row ps-3 pe-3">
        <div class="col-12">
            <h1>About This Project...</h1>
            <p>The goal of this project is to determine the relationship between cognitive function and video game performance. In other words, when I'm focused and attentive, do I play better? Or, when I'm distracted, do I play worse? Or, is there no connection at all? Can I even test this? Who knows! Let's find out!</p>

            <h2>Questions</h2>
            <p>Like all good experiments, this project begins with a few questions:</p>
            <ul>
                <li>Can I read my own brain data?</li>
                <li>If so, is the data valid?</li>
                <li>Can I improve my performance in video games by being super focused and concentrating?</li>
                <li>
                    If I'm distracted, will I play poorly?
                    <ul>
                        <li>Will a "bad game" be visible in my brain activity?</li>
                    </ul>
                </li>

                <li>
                    Is there a direct measurable relationship between superior gaming performance and high levels of attention?
                    <ul>
                        <li>Or, are there just too many factors at play?</li>
                    </ul>
                </li>
            </ul>

            <h2>Goals & Constraints</h2>
            <ul>
                <li>Capture brain data (at home) in an accurate, and cost-effective manner</li>
                <li>Establish a "baseline" mental state</li>
                <li>Observe the difference between the baseline state and the "game playing" state</li>
                <li>Observe my brain's "relaxation" state while playing the game</li>
                <li>Quantify video game performance (via stats)</li>
                <li>Establish and visualize a relationship between my cognitive measures and my game performance</li>
                <li>
                    Can outside factors be excluded?
                    <ul>
                        <li>Server/network latency</li>
                        <li>"Skill based match making"</li>
                        <li>Other unknowns</li>
                    </ul>
                </li>
            </ul>
            
            <h2>Hypothesis</h2>

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="row">
                    <div class="col-md-8 fs-4 border-3 border-start">The more focused I am, the better I will perform at a multiplayer "first-person shooter" (Call of Duty: Vanguard). Conversely, when I'm distracted, my performance will be negatively impacted.</div>
                </div>
            </div>

            <h2>Detailed Approach</h2>
            <ul>
                <li>Using a "mind flex" toy, brain activity will be captured by "hacking" the serial output of the device to collect the EEG related information from the toy.</li>
                <li>Brain activity will be uploaded to the cloud</li>
                <li>Separately, video game stats will be captured via a scheduled task in a cloud based application</li>
                <li>Brain and video game data will be combined and analyzed</li>
            </ul>

            <h2>Testing Steps</h2>
            <ul>
                <li>
                    Hack "Mind Flex" toy by inserting ESP/Arduino to read serial data
                    <ul>
                        <li>
                            Produce brain data to MQTT endpoint (`bttc/brain`)
                            <ul>
                                <li>Capture "distractions" via button</li>
                            </ul>
                        </li>
                        <li>Produce brain data to "live demo" endpoint (to avoid persisting conference volunteer data) (`bttc/demo`)</li>
                    </ul>
                </li>
    
                <li>
                    Create serverless function to obtain video game stats
                    <ul>
                        <li>Use third-party API to retrieve match info</li>
                    </ul>
                </li>
    
                <li>
                    Create server side application
                    <ul>
                        <li>
                            Consume MQTT endpoints
                            <ul>
                                <li>Persist brain data to cloud DB</li>
                                <li>Persist distractions to cloud DB</li>
                            </ul>
                        </li>
                        <li>
                            Schedule task to invoke serverless function
                            <ul>
                                <li>Persist match information to cloud DB</li>
                            </ul>
                        </li>
                        <li>
                            Create a user interface (UI) to demo "live" brain data
                            <ul>
                                <li>Chart metrics in near real-time</li>
                            </ul>
                        </li>
                        <li>Create a user interface (UI) to compare persisted brain data with persisted video game stats</li>
                    </ul>
                </li>
    
                <li>
                    Collect data
                    <ul>
                        <li>
                            Play game while wearing "mind flex"
                            <ul>
                                <li>Play without distractions</li>
                                <li>Play with distractions</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2>Result overview (analyze)</h2>
            <h2>Result details</h2>
            <h2>Modify hypothesis (optional - back to step 1)</h2>
            <h2>Summary</h2>

            <h2>Credits</h2>

            <p>Much of the work on hacking the Mind Flex toy is based heavily (but not entirely) on the <a href="http://frontiernerds.com/brain-hack">work done by Frontier Nerds</a>.</p>
            <p>Call of Duty stats were obtained via the <a href="https://www.npmjs.com/package/@callofduty/api">Call of Duty API</a> by <a href="https://stagg.co">Stagg.co</a>.</p>
        </div>
    </div>

</section>
</body>
</html>