<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Attention & Meditation Reports</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(content = ~{::section}, bodyClass = 'container-fluid')}">
<section>
    <!--/*@thymesVar id="currentView" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row">
        <div class="col-12">
            <h1>Summary by Attention Range</h1>
            <!--/*@thymesVar id="attentionCollection" type="codes.recursive.model.RangeSummaryDTOCollection"*/-->
            <div th:replace="fragments/rangetable :: rangetable(${attentionCollection}, false, true)"></div>
            <h1>Summary by Meditation Range</h1>
            <!--/*@thymesVar id="meditationCollection" type="codes.recursive.model.RangeSummaryDTOCollection"*/-->
            <div th:replace="fragments/rangetable :: rangetable(${meditationCollection}, true, false)"></div>
            <h1>Summary by Attention to Meditation Ratio</h1>
            <!--/*@thymesVar id="ratioCollection" type="codes.recursive.model.RangeSummaryDTOCollection"*/-->
            <div th:replace="fragments/rangetable :: rangetable(${ratioCollection}, true, true)"></div>
        </div>
    </div>
    <div th:replace="fragments/tablechartmodal :: tablechartmodal()"></div>
</section>
</body>
</html>