<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Game Analysis</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="/scripts/rivets.js" type="application/javascript"></script>
    <script src="/scripts/rivetsstdlib.js" type="application/javascript"></script>
    <script src="/scripts/game-analysis.js" type="module"></script>
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/header :: header()"></div>
    <div th:replace="fragments/nav :: navmenu(${currentView})"></div>


    <div class="row" id="loader">
        <div class="col-12 d-flex align-items-center justify-content-center fs-2">
            <span class="spinner-border"></span>&nbsp; &nbsp;Loading...
        </div>
    </div>

    <div id="games" class="d-none">
        <div class="row" rv-show="model.recentGames.content | default 0 | length | gt 0">
            <div class="col-12">
                <div class="row row-cols-3 row-cols-md-4 g-4 p-2">
                    <div class="col p-2 game-card pointer rounded mt-0" rv-selectedGame="game" rv-each-game="model.recentGames.content"  data-bs-toggle="offcanvas" data-bs-target="#gameDetails" rv-on-click="model.selectGame">
                        <div class="card shadow border border-dark">
                            <div class="position-relative">
                                <img rv-mapsrc="game.match.map" class="card-img-top" rv-alt="game.match.map | map">
                                <div class="position-absolute top-0 end-0 d-flex">
                                    <span class="badge text-white text-shadow" rv-winlossbg="game.match.result">
                                        <strong>{game.match.result | winLoss}</strong>
                                    </span>
                                </div>
                                <div class="position-absolute bottom-0 end-0 p-1" rv-show="game.isHighlighted">
                                    <img src="/img/star-sm.png" alt="highlighted match" class="shadow-lg" />
                                </div>
                            </div>
                            <div class="card-body rounded-bottom">
                                <span class="card-title fs-5 alt-font">
                                    {game.match.map | map} ({game.match.mode | gameMode})
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button id="prevBtn" rv-show="model.recentGames | showPrev" rv-on-click="model.paginate | wrap 'prev'" class="btn btn-primary">&laquo; Prev</button>
                <button id="nextBtn" rv-show="model.recentGames | showNext" rv-on-click="model.paginate | wrap 'next'" class="btn btn-primary">Next &raquo;</button>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="gameDetails" aria-labelledby="gameDetailsLbl">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="gameDetailsLbl"></h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="card text-white">
                <div class="position-relative">
                    <img rv-mapsrc="model.selectedGame.match.map" class="img-fluid border rounded" rv-alt="model.selectedGame.match.map | map">
                    <div class="position-absolute top-0 end-0 p-1">
                        <span class="badge fs-1 bg-gradient text-white bg-opacity-50 text-shadow" rv-winlossbg="model.selectedGame.match.result">
                            <strong>{model.selectedGame.match.result | winLoss}</strong>
                        </span>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-1" style="z-index: 1;" rv-hide="model.selectedGame.isHighlighted">
                        <button id="highlightMatchBtn" rv-on-click="model.highlightGame" class="btn btn-sm btn-light">Highlight</button>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-1" rv-show="model.selectedGame.isHighlighted">
                        <img src="/img/star.png" alt="highlighted match" class="shadow-lg" />
                    </div>
                </div>
                <div class="card-img-overlay">
                    <h1 class="pt-2 text-shadow text-outline">{model.selectedGame.match.map | map}</h1>
                    <h2 class="text-shadow text-outline">{model.selectedGame.match.mode | gameMode}</h2>
                    <h3 class="text-shadow text-outline">{model.selectedGame.match.matchStart | date} - {model.selectedGame.match.matchEnd | time}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline">{model.selectedGame.match.playerStats.kills}/{model.selectedGame.match.playerStats.deaths} ({model.selectedGame.match.playerStats.kdRatio | tofixed})</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Kills/Deaths (Ratio)</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline">{model.selectedGame.match.playerStats.damageDone}/{model.selectedGame.match.playerStats.damageTaken}</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Damage (Done/Taken)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline">{model.selectedGame.match.playerStats.headshots}</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Headshots</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline"> {model.selectedGame.match.playerStats.executions}</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Executions</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline">{model.selectedGame.match.playerStats.score} ({model.selectedGame.match.playerStats.scorePerMinute | tofixed})</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Score (Per Minute)</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline"> {model.selectedGame.match.playerStats.accuracy | percent}%  ({model.selectedGame.match.playerStats.shotsFired}/{model.selectedGame.match.playerStats.shotsLanded})</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Accuracy (Shots Fired/Landed)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline">{model.selectedGame.match.playerStats.longestStreak}</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">Longest Streak</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card text-center text-white bg-dark bg-gradient shadow">
                        <div class="card-body">
                            <p class="fs-1 mb-0 text-shadow text-outline"> {model.selectedGame.match.playerStats.percentTimeMoving | tofixed}%  ({model.selectedGame.match.playerStats.averageSpeedDuringMatch | tofixed})</p>
                        </div>
                        <div class="card-footer text-muted border-secondary">
                            <span class="fs-5 mb-0">% Moving/Avg. Speed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>