<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title th:text="'BttC: Game Summary ' + ${type} +  'Reports'"></title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(content = ~{::section}, bodyClass = 'container-fluid')}">
<section>
    <!--/*@thymesVar id="currentView" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row">
        <div class="col-12">
            <h1 th:text="'Kills/Assists/Deaths (' + ${type} + ')'"></h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <!--/*@thymesVar id="withBrain" type="java.lang.Boolean"*/-->
            <div th:replace="fragments/killsummarytable :: killsummarytable(${summaryCollection}, ${withBrain}, true, ${grouping}, ${mapLookups}, ${vanguard})"></div>
            <h1 th:text="'Win/Loss (' + ${type} + ')'"></h1>
            <div th:replace="fragments/winlosssummarytable :: winlosssummarytable(${summaryCollection}, ${withBrain}, true, ${grouping}, ${mapLookups}, ${vanguard})"></div>
            <h1 th:text="'Accuracy/Damage (' + ${type} + ')'"></h1>
            <div th:replace="fragments/accuracydamagetable :: accuracydamagetable(${summaryCollection}, ${withBrain}, true, ${grouping}, ${mapLookups}, ${vanguard})"></div>
            <h1 th:text="'Score/Travel (' + ${type} + ')'"></h1>
            <div th:replace="fragments/scoretraveltable :: scoretraveltable(${summaryCollection}, ${withBrain}, true, ${grouping}, ${mapLookups}, ${vanguard})"></div>
        </div>
    </div>
    <div th:replace="fragments/tablechartmodal :: tablechartmodal()"></div>
</section>
</body>
</html>