<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Game Summary Reports</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(content = ~{::section}, bodyClass = 'container-fluid')}">
<section>
    <!--/*@thymesVar id="currentView" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="mt-3" th:with="record=${summaryCollection.getGameSummaryDTOList().get(0)}">
        <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOcol mb-3lection"*/-->
        <div class="row">
            <div class="col-12 mb-3">
                <h1>Game Summary <span th:if="${withBrain}">(With Brain Data)</span> <span th:if="${!withBrain}">(All Games)</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Kills/Assists/Deaths</h2>
            </div>
        </div>
        <div class="row" th:if="${withBrain}">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Average Attention</div></div>
            <div class="col-6 col-md-3 mb-3 mr-3 mr-md-0 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgAttention(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Average Meditation</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgMeditation(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Games</div></div>
            <div class="col-6 col-md-3 mb-3 mr-3 mr-md-0 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalGames(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Kills</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalKills(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Deaths</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalDeaths(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Kills</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgKills(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Deaths</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgDeaths(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Max Eliminations</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMaxEliminations(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Max Kills</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMaxKills(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Max Deaths</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMaxDeaths(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Min Kills</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMinKills(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Min Deaths</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMinDeaths(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Max Assists</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMaxAssists(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Min Assists</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMinAssists(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Max Kd Ratio</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getMaxKdRatio(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Assists</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalAssists(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Kd Ratio</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgKdRatio(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Kd Ratio</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalKdRatio(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Ed Ratio</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalEdRatio(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Longest Streak</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getLongestStreak(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Win/Loss</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Wins</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalWins(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Losses</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalLosses(), 1, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">W/L Ratio</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getWlRatio(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Accuracy/Damage</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Accuracy</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalAccuracy() * 100, 1, 'COMMA', 2, 'POINT') + '%'}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Accuracy</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAverageAccuracy() * 100, 1, 'COMMA', 2, 'POINT') + '%'}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Shots Landed</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalShotsLanded(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Shots Missed</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalShotsMissed(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Shots Fired</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalShotsFired(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Damage Done</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalDamageDone(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Damage Taken</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalDamageTaken(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Score/Travel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Score</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgScore(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Score Per Minute</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalScorePerMinute(), 0, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Score Per Minute</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgScorePerMinute(), 0, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Total Distance Traveled</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getTotalDistanceTraveled(), 0, 'COMMA', 0, 'POINT')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Pct Time Moving</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgPctTimeMoving(), 1, 'COMMA', 2, 'POINT') + '%'}"></div>
            </div>
            <div class="col-6 col-md-3 mb-3 fw-bold fs-1"><div class="p-3 text-white bg-theme w-100 d-flex align-items-center h-100">Avg Speed During Match</div></div>
            <div class="col-6 col-md-3 mb-3 fs-1">
                <div class="border w-100 h-100 d-flex align-items-center p-3" th:text="${#numbers.formatDecimal(record.getAvgSpeedDuringMatch(), 1, 'COMMA', 2, 'POINT')}"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>