<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Game Summary Reports</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(content = ~{::section}, bodyClass = 'container-fluid')}">
<section>
    <!--/*@thymesVar id="currentView" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row">
        <div class="col-12">
            <h1>Kills/Assists/Death Summary</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/killsummarytable :: killsummarytable(${summaryCollection}, false, false, ${mapLookups}, ${vanguard})"></div>
            <h1>Win/Loss Summary</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/winlosssummarytable :: winlosssummarytable(${summaryCollection}, false, false, ${mapLookups}, ${vanguard})"></div>
            <h1>Accuracy Summary</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/accuracydamagetable :: accuracydamagetable(${summaryCollection}, false, false, ${mapLookups}, ${vanguard})"></div>
            <h1>Score/Travel Summary</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/scoretraveltable :: scoretraveltable(${summaryCollection}, false, false, ${mapLookups}, ${vanguard})"></div>

            <h1>Kills/Assists/Death Summary (By Map)</h1>
            <!--/*@thymesVar id="summaryByMapCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/killsummarytable :: killsummarytable(${summaryByMapCollection}, true, true, ${mapLookups}, ${vanguard})"></div>
            <h1>Win/Loss Summary (By Map)</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/winlosssummarytable :: winlosssummarytable(${summaryByMapCollection}, true, true, ${mapLookups}, ${vanguard})"></div>
            <h1>Accuracy Summary (By Map)</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/accuracydamagetable :: accuracydamagetable(${summaryByMapCollection}, true, true, ${mapLookups}, ${vanguard})"></div>
            <h1>Score/Travel Summary (By Map)</h1>
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.GameSummaryDTOCollection"*/-->
            <div th:replace="fragments/scoretraveltable :: scoretraveltable(${summaryByMapCollection}, true, true, ${mapLookups}, ${vanguard})"></div>

        </div>
    </div>

</section>
</body>
</html>