<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Game Analysis</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-uxcl+YXF0LbFyZFEb6HHmxl1NEI4X/5rjojm/13M1CBXBDj8wkmM99cKADkmtuky28pC/EpNTDHOEb/c3nDZsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js" integrity="sha512-oh5t+CdSBsaVVAvxcZKy3XJdP7ZbYUBSRCXDTVn0ODewMDDNnELsrG9eDm8rVZAQg7RsDD/8K3MjPAFB13o6eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/rivets.js" type="application/javascript"></script>
    <script src="/scripts/rivetsstdlib.js" type="application/javascript"></script>
    <script src="/scripts/game-analysis.js" type="module"></script>
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row" id="loader">
        <div class="col-12 d-flex align-items-center justify-content-center fs-2">
            <span class="spinner-border"></span>&nbsp;&nbsp;Loading...
        </div>
    </div>

    <div id="games" class="d-none">
        <div class="row pb-4">
            <div class="col-12 col-md-3 offset-md-9 d-flex justify-content-end">
                <select name="gameType" id="gameType" class="form-select" rv-on-change="model.changeGameType">
                    <option rv-value="model.GAME_TYPE_ALL">All Recent Games</option>
                    <option rv-value="model.GAME_TYPE_HIGHLIGHTED">Highlighted Games</option>
                    <option rv-value="model.GAME_TYPE_WITH_BRAIN_READINGS">Games With Brain Readings</option>
                </select>
            </div>
        </div>
        <div class="row" rv-show="model.recentGames.content | length | gt 0">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col p-2 mt-0 pointer rounded" rv-selectedGame="game" rv-each-game="model.recentGames.content"  data-bs-toggle="offcanvas" data-bs-target="#gameDetails" rv-on-click="model.selectGame">
                        <div class="card game-card shadow border border-dark">
                            <div class="position-relative">
                                <img rv-mapsrc="game.match.map" class="card-img-top" rv-alt="game.match.map | map">
                                <div class="position-absolute top-0 end-0 d-flex">
                                    <span class="badge text-white text-shadow" rv-winlossbg="game.match.result">
                                        <strong>{game.match.result | winLoss}</strong>
                                    </span>
                                </div>
                                <div class="position-absolute bottom-0 end-0 p-1" rv-show="game.isHighlighted">
                                    <img src="/img/star-sm.png" alt="highlighted match" class="shadow-lg" />
                                </div>
                                <div class="position-absolute bottom-0 end-0 distracted-indicator" rv-show="game.isDistracted">
                                    <span>&#128534;</span>
                                </div>
                                <div class="position-absolute bottom-0 start-0 d-flex">
                                    <div class="ms-1">
                                        <h5 class="mb-0 text-white text-outline text-shadow">{game.match.playerStats.kdRatio | tofixed}</h5>
                                        <h5 class="mb-0 text-somewhat-muted text-outline text-shadow">K/D Ratio</h5>
                                    </div>
                                    <div class="ms-5">
                                        <h5 class="mb-0 text-white text-outline text-shadow">{game.match.playerStats.kills}</h5>
                                        <h5 class="mb-0 text-somewhat-muted text-outline text-shadow">Kills</h5>
                                    </div>
                                    <div class="ms-5">
                                        <h5 class="mb-0 text-white text-outline text-shadow">{game.match.playerStats.scorePerMinute | tofixed}</h5>
                                        <h5 class="mb-0 text-somewhat-muted text-outline text-shadow">SPM</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="card-img-overlay p-1">
                                <h4 class="text-white text-shadow text-outline">{game.match.map | map} ({game.match.mode | gameMode})</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 text-center">
                <button id="prevBtn" rv-show="model.recentGames | showPrev" rv-on-click="model.paginate | wrap 'prev'" class="btn btn-primary">&laquo; Prev</button>
                <button id="nextBtn" rv-show="model.recentGames | showNext" rv-on-click="model.paginate | wrap 'next'" class="btn btn-primary">Next &raquo;</button>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="gameDetails" aria-labelledby="gameDetailsLbl">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="gameDetailsLbl"></h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="card text-white">
                <div class="position-relative">
                    <img rv-mapsrc="model.selectedGame.match.map" class="img-fluid border rounded" rv-alt="model.selectedGame.match.map | map">
                    <div class="position-absolute top-0 end-0 p-1">
                        <span class="badge fs-6 fs-md-1 bg-gradient text-white bg-opacity-50 text-shadow" rv-winlossbg="model.selectedGame.match.result">
                            <strong>{model.selectedGame.match.result | winLoss}</strong>
                        </span>
                    </div>
                    <div class="position-absolute bottom-0 start-0 p-1" style="z-index: 1;">
                        <button id="addNotesModalBtn" data-bs-toggle="modal" data-bs-target="#gameNotesModal" class="badge badge-sm bg-white border-white text-dark highlight-btn">Notes</button>

                        <div class="modal fade" id="gameNotesModal" tabindex="-1" aria-labelledby="gameNotesModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="gameNotesModalLabel">Game Notes</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-floating text-dark">
                                            <textarea class="form-control" autofocus placeholder="Notes" id="gameNotes" style="height: 100px" rv-value="model.selectedGame.notes" rv-change="model.noteChanged"></textarea>
                                            <label for="gameNotes" class="text-dark">Notes</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button rv-on-click="model.saveNotes" type="button" class="btn btn-primary">Save Notes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="position-absolute bottom-0 end-0 p-1" style="z-index: 1;" rv-hide="model.selectedGame.isHighlighted">
                        <button id="highlightMatchBtn" rv-on-click="model.highlightGame" class="badge badge-sm bg-white border-white text-dark highlight-btn">Highlight</button>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-1 distracted-btn" style="z-index: 1;" rv-hide="model.selectedGame.isDistracted">
                        <button id="markDistractedBtn" rv-on-click="model.markDistracted" class="badge badge-sm bg-danger border-danger text-white highlight-btn">Distracted</button>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-1" rv-show="model.selectedGame.isHighlighted">
                        <img src="/img/star.png" alt="highlighted match" class="shadow-lg" />
                    </div>
                    <div class="position-absolute bottom-0 end-0 distracted-indicator distracted-indicator-details" rv-show="model.selectedGame.isDistracted">
                        <span>&#128534;</span>
                    </div>
                </div>
                <div class="card-img-overlay">
                    <h1 class="pt-2 text-shadow text-outline d-none d-md-block">{model.selectedGame.match.map | map}</h1>
                    <h3 class="pt-2 text-shadow text-outline d-block d-md-none">{model.selectedGame.match.map | map} ({model.selectedGame.match.mode | gameMode})</h3>
                    <h2 class="text-shadow d-none d-md-block text-outline">{model.selectedGame.match.mode | gameMode}</h2>
                    <h3 class="text-shadow text-outline">{model.selectedGame.match.matchStart | date} - {model.selectedGame.match.matchEnd | time}</h3>
                </div>
            </div>

            <h2 class="pt-3 pb-0 mb-0">Game Data</h2>

            <div class="row mb-md-3 mb-0">
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.kills}/{model.selectedGame.match.playerStats.deaths} ({model.selectedGame.match.playerStats.kdRatio | tofixed})', 'Kills/Deaths (Ratio)')"></div>
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.damageDone}/{model.selectedGame.match.playerStats.damageTaken}', 'Damage (Done/Taken)')"></div>
            </div>

            <div class="row mb-3">
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.headshots}', 'Headshots')"></div>
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.executions}', 'Executions')"></div>
            </div>

            <div class="row mb-3">
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.score} ({model.selectedGame.match.playerStats.scorePerMinute | tofixed})', 'Score (Per Minute)')"></div>
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.accuracy | percent}%  ({model.selectedGame.match.playerStats.shotsFired}/{model.selectedGame.match.playerStats.shotsLanded})', 'Accuracy (Shots Fired/Landed)')"></div>
            </div>

            <div class="row mb-3">
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.longestStreak}', 'Longest Streak')"></div>
                <div th:replace="fragments/detailcard :: detailcard('{model.selectedGame.match.playerStats.percentTimeMoving | tofixed}%  ({model.selectedGame.match.playerStats.averageSpeedDuringMatch | tofixed})', '% Moving/Avg. Speed')"></div>
            </div>

            <div id="brainData" rv-show="model.brainDataForSelectedGame | length | gt 0">
                <h2>Brain Data</h2>
                <div class="row mb-3">
                    <div th:replace="fragments/detailcard :: detailcard('{model.brainDataForSelectedGame | avg \'attention\' | tofixed}', 'Average Attention')"></div>
                    <div th:replace="fragments/detailcard :: detailcard('{model.brainDataForSelectedGame | avg \'meditation\' | tofixed}', 'Average Meditation')"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <canvas id="brainChart" class="border p-1 rounded shadow"></canvas>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <canvas id="scoreAttentionChart" class="border rounded shadow donut-chart p-2"></canvas>
                    </div>
                    <div class="col-6">
                        <canvas id="scoreMeditationChart" class="border rounded shadow donut-chart p-2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>