<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Demo</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-uxcl+YXF0LbFyZFEb6HHmxl1NEI4X/5rjojm/13M1CBXBDj8wkmM99cKADkmtuky28pC/EpNTDHOEb/c3nDZsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js" integrity="sha512-oh5t+CdSBsaVVAvxcZKy3XJdP7ZbYUBSRCXDTVn0ODewMDDNnELsrG9eDm8rVZAQg7RsDD/8K3MjPAFB13o6eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/live.js" type="module"></script>
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/nav :: navmenu(${currentView})"></div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Signal Strength</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentSignalStrength">0</span>
                </div>
                <div class="mt-auto">
                    <button id="connectBtn" class="btn btn-primary btn-sm" style="margin-bottom: 10px;"><span id="connectBtnLbl">Connect</span></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Current Attention</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentAttention">N/A</span>
                </div>
                <div class="mt-auto p-2">
                    <span class="badge bg-success bg-gradient"><span class="fw-bold">High:</span><span id="attentionHigh">N/A</span></span>
                    <span class="badge bg-danger bg-gradient"><span class="fw-bold">Low:</span><span id="attentionLow">N/A</span></span>
                    <span class="badge bg-primary bg-gradient"><span class="fw-bold">Mean:</span><span id="attentionMean">N/A</span></span>
                    <span class="badge bg-secondary bg-gradient"><span class="fw-bold">Median:</span><span id="attentionMedian">N/A</span></span>
                    <span class="badge bg-info bg-gradient"><span class="fw-bold">Mode:</span><span id="attentionMode">N/A</span></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Current Meditation</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentMeditation">N/A</span>
                </div>
                <div class="mt-auto p-2">
                    <span class="badge bg-success bg-gradient"><span class="fw-bold">High:</span><span id="meditationHigh">N/A</span></span>
                    <span class="badge bg-danger bg-gradient"><span class="fw-bold">Low:</span><span id="meditationLow">N/A</span></span>
                    <span class="badge bg-primary bg-gradient"><span class="fw-bold">Mean:</span><span id="meditationMean">N/A</span></span>
                    <span class="badge bg-secondary bg-gradient"><span class="fw-bold">Median:</span><span id="meditationMedian">N/A</span></span>
                    <span class="badge bg-info bg-gradient"><span class="fw-bold">Mode:</span><span id="meditationMode">N/A</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-12 pt-0">
            <canvas id="attentionChart" class="border p-1 rounded shadow" style="height: 300px; width:100%;"></canvas>
        </div>
        <div class="col-md-6 col-12 pt-0">
            <canvas id="meditationChart" class="border p-1 rounded shadow" style="height: 300px; width:100%;"></canvas>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 pt-0">
            <canvas id="activityChart" class="border p-1 rounded shadow" style="height: 400px; width:100%;"></canvas>
        </div>
    </div>
</section>
</body>
</html>