<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Demo</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-uxcl+YXF0LbFyZFEb6HHmxl1NEI4X/5rjojm/13M1CBXBDj8wkmM99cKADkmtuky28pC/EpNTDHOEb/c3nDZsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js" integrity="sha512-oh5t+CdSBsaVVAvxcZKy3XJdP7ZbYUBSRCXDTVn0ODewMDDNnELsrG9eDm8rVZAQg7RsDD/8K3MjPAFB13o6eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/live.js" type="module"></script>
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(~{::section})}">
<section>
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Signal Strength</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentSignalStrength">0</span>
                </div>
                <div class="mt-auto">
                    <button id="connectBtn" class="btn btn-primary btn-sm" style="margin-bottom: 10px;"><span id="connectBtnLbl">Connect</span></button>
                    <button id="createSessionModalBtn" class="btn btn-success btn-sm" style="margin-bottom: 10px;">Capture Session</button>

                    <div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="sessionModalLabel">Capture Session</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="sessionForm" name="sessionForm" class="needs-validation" novalidate>
                                        <div class="form-floating text-dark mb-3">
                                            <input type="text" class="form-control" autofocus placeholder="Name" id="sessionName" required="required" />
                                            <label for="sessionName" class="text-dark">Name</label>
                                            <div class="invalid-feedback">
                                                Please enter a name!
                                            </div>
                                        </div>
                                        <div class="form-floating text-dark">
                                            <textarea class="form-control" placeholder="Notes" id="sessionNotes" style="height: 100px" required="required"></textarea>
                                            <label for="sessionNotes" class="text-dark">Notes</label>
                                            <div class="invalid-feedback">
                                                Please enter some notes!
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="createSessionBtn" type="button" class="btn btn-primary">Start Session</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Current Attention</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentAttention">N/A</span>
                </div>
                <div class="mt-auto p-2">
                    <span class="badge bg-success bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Highest value"><span class="fw-bold">High:</span><span id="attentionHigh">N/A</span></span>
                    <span class="badge bg-danger bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lowest value"><span class="fw-bold">Low:</span><span id="attentionLow">N/A</span></span>
                    <span class="badge bg-primary bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Average value"><span class="fw-bold">Mean:</span><span id="attentionMean">N/A</span></span>
                    <span class="badge bg-secondary bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Middle value"><span class="fw-bold">Median:</span><span id="attentionMedian">N/A</span></span>
                    <span class="badge bg-info bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Most common value"><span class="fw-bold">Mode:</span><span id="attentionMode">N/A</span></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center h-100 bg-light shadow">
                <div class="card-header text-white bg-dark bg-gradient">Current Meditation</div>
                <div class="card-body d-flex flex-column">
                    <span class="fs-1" id="currentMeditation">N/A</span>
                </div>
                <div class="mt-auto p-2">
                    <span class="badge bg-success bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Highest value"><span class="fw-bold">High:</span><span id="meditationHigh">N/A</span></span>
                    <span class="badge bg-danger bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lowest value"><span class="fw-bold">Low:</span><span id="meditationLow">N/A</span></span>
                    <span class="badge bg-primary bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Average value"><span class="fw-bold">Mean:</span><span id="meditationMean">N/A</span></span>
                    <span class="badge bg-secondary bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Middle value"><span class="fw-bold">Median:</span><span id="meditationMedian">N/A</span></span>
                    <span class="badge bg-info bg-gradient" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Most common value"><span class="fw-bold">Mode:</span><span id="meditationMode">N/A</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12 pt-0 mb-3">
            <canvas id="attentionChart" class="border p-1 rounded shadow" style="height: 300px; width:100%;"></canvas>
        </div>
        <div class="col-md-6 col-12 pt-0 mb-3">
            <canvas id="meditationChart" class="border p-1 rounded shadow" style="height: 300px; width:100%;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pt-0 mb-3 position-relative">
            <div class="position-absolute top-0 end-0 pe-3 pt-1">
                <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#activityOffcanvas" aria-controls="activityOffcanvas"><i class="fa fa-question-mark"></i> Help</button>
            </div>
            <canvas id="activityChart" class="border p-1 rounded shadow" style="height: 400px; width:100%;"></canvas>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="activityOffcanvas" aria-labelledby="activityOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="activityOffcanvasLabel">About Brain Waves</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <dl>
                    <dt class="fs-1 delta">Delta</dt>
                    <dd class="fs-3">Delta waves <span class="fw-bold">(1-4 Hz)</span> are slow brainwaves, which begin to appear in stage 3 of the sleep-cycle, and by stage 4 dominate almost all EEG activity.</dd>
                    <dt class="fs-1 theta">Theta</dt>
                    <dd class="fs-3">Theta waves <span class="fw-bold">(4-8 Hz)</span> are involved in day-dreaming and sleep.</dd>
                    <dt class="fs-1 low-alpha">Alpha</dt>
                    <dd class="fs-3">Alpha waves <span class="fw-bold">(8-12 Hz)</span> dominate during moments of quiet thought, and similar meditative states.</dd>
                    <dt class="fs-1 low-beta">Beta</dt>
                    <dd class="fs-3">Beta waves <span class="fw-bold">(12-38 Hz)</span> represent our normal waking state of consciousness when attention is directed at cognitive tasks and the outside world.  Beta is 'fast wave' activity and dominated when we are alert, attentive and engages in problem-solving, decision-making and focussed mental activity. Low beta <span class="fw-bold">(12-15 Hz)</span> is thought to be 'fast idle', or musing thought, Beta <span class="fw-bold">(15-22 Hz)</span> is high-engagement and actively figuring things out, and finally, High Beta <span class="fw-bold">(22-38 Hz)</span> is highly complex thought, integrating new experiences, high anxiety or excitement.</dd>
                    <dt class="fs-1 low-gamma">Gamma</dt>
                    <dd class="fs-3">Gamma brainwaves have the highest frequencies of any brainwave, oscillating between <span class="fw-bold">(~30-100 Hz)</span>. They are associated with peak concentration and high levels of cognitive functioning.</dd>
                </dl>
                <p>Credit: <a href="https://neurofeedbackalliance.org/understanding-brain-waves/">https://neurofeedbackalliance.org/understanding-brain-waves/</a></p>
            </div>
        </div>
    </div>

</section>
</body>
</html>