<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutFile :: head(~{::title}, ~{:: #extraHead})}">
    <title>BttC: Time Moving Report</title>
    <!--/*/
    <div id="extraHead" th:remove="tag">
    /*/-->
    <!--/*/
    </div>
    /*/-->
</head>
<body th:replace="~{layoutFile :: body(content = ~{::section}, bodyClass = 'container-fluid')}">
<section>
    <!--/*@thymesVar id="currentView" type="java.lang.String"*/-->
    <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
    <div th:replace="fragments/nav :: navmenu(${currentView}, ${isLoggedIn})"></div>

    <div class="row">
        <div class="col-12">
            <h1>Summary by Time Moving (with Brain Data)</h1>
            <!--/*@thymesVar id="timeMovingWithBrainSummary" type="java.util.List"*/-->
            <!--/*@thymesVar id="brainSummaryCollection" type="codes.recursive.model.RangeSummaryDTOCollection"*/-->
            <div th:replace="fragments/rangetable :: rangetable(${brainSummaryCollection}, true, true)"></div>
            <h1>Summary by Time Moving</h1>
            <!--/*@thymesVar id="timeMovingSummary" type="java.util.List"*/-->
            <!--/*@thymesVar id="summaryCollection" type="codes.recursive.model.RangeSummaryDTOCollection"*/-->
            <div th:replace="fragments/rangetable :: rangetable(${summaryCollection}, false, false)"></div>
        </div>
    </div>

</section>
</body>
</html>